.container {
    height: 100% !important;
    text-align: center !important;
}
.parallaxHeader { 
    /* The image used */
    background-image: url("/assets/images/index-background.jpg");
}

/*---------- Navigation Bar for INDEX ------------*/
.navBar {
    padding-top: 20px;
}

.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.items > li {
    display: inline-block;
    height: 21px;
}

.item-selected {
    font-weight: 600;
}

.item, .item-selected {
    display: block;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    color: var(--color-white-100);
} 

.item:hover {
    font-weight: 600;
}
/*---------- END Navigation Bar for INDEX ------------*/

.logo {
    margin-top: 200px;
    margin-bottom: 0;
    color: white;
    font-size: 3em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}

.summary {
    margin-top: 1.5%;
    color: var(--color-white-100);
    font-size: 1.2em;
    font-weight: lighter;
}

.discover {
    position: absolute;
    color: var(--color-white-100);
    font-size: 1.2em;
    font-style: italic;
}

#expand-icon {
    position: absolute;
}

/************** Services **************/
.services {
    padding-bottom: 3%;
    background-color: var(--color-grey-25);
    font-size:36px;
}

.serviceCard {
    height: 350px;
    padding: 0 5% 1% 5% !important;
}

#material-icon {
    margin-top: 10px;
    font-size: 40px !important;
}

.serviceTitle {
    font-size: 20px;
    font-weight: bold;
}

.serviceSummary {
    height: 190px;
    padding-top: 5%;
    font-size: 16.8px;
}
/**************END Services **************/

/************** Who we are **************/
.parallaxWho {
    background-image: url("/assets/images/meeting3.png");
}

.whoWeAreMobile  .sectionTitleWhite{
    padding-top: 25% !important;
}

#whoWeAreContainer {
    padding-top: 25% !important;
}

.whoWeAre {
    font-size: 18px;
    color: var(--color-white-100);
}

.whoWeAre > span {
    font-size: 22px;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
}
/************** END Who we are **************/

/************** Get in Touch **************/
.getInTouchItem{
    padding-top: 0 !important;
}

.getInTouchItem  p {
    padding-top: 1.5% !important;
    font-size: 18px;
}

.getInTouch  .separator {
    width: 90% !important;
    margin: 5%;
}
/************** END Who we are **************/

.pie {
    height: 60px;
    margin-bottom: 0 !important;
    background-color: var(--color-black-75);
    
}


