.logo > h2 {
    font-family: 'Exo 2', sans-serif;
}

/*Form style START*/

/* label focus color */
.input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=email]:focus, .input-field input[type=password  ]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

#forgot-password {
    height: 53px;
}

#forgot-password > a {
    color: gray;
}

#forgot-password a:hover{
    text-decoration: underline;
}

#create-account {
    height: 36px;
}

#create-account > a {
    font-weight: 550;
}

#create-account > a:hover {
    text-decoration: underline;
}
/*Form style END*/